@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700&display=swap");

:root {
  --sienna: #d87d4a;
  --onyx: #101010;
  --seashell: #f1f1f1;
  --alabaster: #d87d4a;
  --pink: #fbaf85;
  --white: #ffffff;
  --black: #000000;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
}

p {
  font-weight: 200;
  line-height: 25px;
  margin: 1.5rem 0;
}

button {
  all: unset;
}

ul {
  all: unset;
  list-style: none;
}

img {
  border-radius: 8px;
}
