@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700&display=swap");

:root {
  --sienna: #d87d4a;
  --onyx: #101010;
  --seashell: #f1f1f1;
  --alabaster: #d87d4a;
  --pink: #fbaf85;
  --white: #ffffff;
  --black: #000000;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
}

p {
  font-weight: 200;
  line-height: 25px;
  margin: 1.5rem 0;
}

button {
  all: unset;
}

ul {
  all: unset;
  list-style: none;
}

img {
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  h1 {
    line-height: 32px;
  }
  h2 {
    font-size: 32px;
    letter-spacing: 1.14px;
  }
}
@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 40px;
    letter-spacing: 1.43px;
    line-height: 44px;
  }
}
